body{
    background:#f5f5f5;
}
b{
    font-weight: 500;
}
h1,h2,h3 {
    font-family: 'Playfair Display', serif;
    padding:0;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
p{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight:300;
    text-align: justify;
    text-indent: 50px;
}
table,tr,td{
    width: 100%;
    font-family: 'Roboto Mono',monospace;
    font-size: 13px;
    border:1px solid #798a78;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 5px;
    background: #798a78;
}
::-webkit-scrollbar-thumb {
    background: #798a78;
}

.container{
    max-width: 650px;
    background:#f3f3f3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}
.profile-list{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight:300;
}
.profile-picture{
    display: none;
}
.profile-desc{
    padding:10px;
    max-height: 500px;
    box-sizing:border-box;
}
.profile-name-kanji{
    font-size:32px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    text-align: center;
}
.profile-name-romaji {
    font-size:24px;
    text-align: center;
}
.profile-text{
    margin-top: 25px;
}
.highlight{
    color:#f9f9f9;
    background:#798a78;
}

@media screen and (min-width:600px){
    .container{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
    .profile-picture{
        display: block;
        width: 200px;
        height: 500px;
    }
    .profile-desc{
        overflow-y: scroll;
    }
    .habilit-list{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
